<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{25,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,29}}</string>
        <key>sourceSize</key>
        <string>{25,29}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,4},{24,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,29}}</string>
        <key>sourceSize</key>
        <string>{24,29}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,41},{24,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,29}}</string>
        <key>sourceSize</key>
        <string>{24,29}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,41},{24,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,29}}</string>
        <key>sourceSize</key>
        <string>{24,29}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,41},{24,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,29}}</string>
        <key>sourceSize</key>
        <string>{24,29}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,4},{24,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,29}}</string>
        <key>sourceSize</key>
        <string>{24,29}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,78},{23,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,29}}</string>
        <key>sourceSize</key>
        <string>{23,29}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,78},{23,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,29}}</string>
        <key>sourceSize</key>
        <string>{23,29}</string>
      </dict>
      <key>&.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,41},{19,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,34}}</string>
        <key>sourceSize</key>
        <string>{19,34}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,78},{22,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,29}}</string>
        <key>sourceSize</key>
        <string>{22,29}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,4},{15,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,29}}</string>
        <key>sourceSize</key>
        <string>{15,29}</string>
      </dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,83},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numWithdrawJd.png</string>
      <key>size</key>
      <string>{123,111}</string>
      <key>textureFileName</key>
      <string>numWithdrawJd</string>
    </dict>
  </dict>
</plist>
