<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{115,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,143}}</string>
        <key>sourceSize</key>
        <string>{115,143}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,4},{141,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,145}}</string>
        <key>sourceSize</key>
        <string>{141,145}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,4},{35,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,149}}</string>
        <key>sourceSize</key>
        <string>{35,149}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,4},{115,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,152}}</string>
        <key>sourceSize</key>
        <string>{115,152}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,4},{77,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,152}}</string>
        <key>sourceSize</key>
        <string>{77,152}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,4},{77,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,152}}</string>
        <key>sourceSize</key>
        <string>{77,152}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,4},{99,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,153}}</string>
        <key>sourceSize</key>
        <string>{99,153}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,4},{135,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,153}}</string>
        <key>sourceSize</key>
        <string>{135,153}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,4},{151,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,153}}</string>
        <key>sourceSize</key>
        <string>{151,153}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1021,4},{56,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,153}}</string>
        <key>sourceSize</key>
        <string>{56,153}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,4},{100,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,154}}</string>
        <key>sourceSize</key>
        <string>{100,154}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,4},{143,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,156}}</string>
        <key>sourceSize</key>
        <string>{143,156}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1344,4},{136,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,156}}</string>
        <key>sourceSize</key>
        <string>{136,156}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>coinAni.png</string>
      <key>size</key>
      <string>{1484,164}</string>
      <key>textureFileName</key>
      <string>coinAni</string>
    </dict>
  </dict>
</plist>
