<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{35,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,149}}</string>
        <key>sourceSize</key>
        <string>{35,149}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,4},{77,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,152}}</string>
        <key>sourceSize</key>
        <string>{77,152}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,4},{77,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,152}}</string>
        <key>sourceSize</key>
        <string>{77,152}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,4},{100,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,154}}</string>
        <key>sourceSize</key>
        <string>{100,154}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,4},{115,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,154}}</string>
        <key>sourceSize</key>
        <string>{115,154}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,4},{151,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,154}}</string>
        <key>sourceSize</key>
        <string>{151,154}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,4},{135,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,154}}</string>
        <key>sourceSize</key>
        <string>{135,154}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,4},{55,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,154}}</string>
        <key>sourceSize</key>
        <string>{55,154}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,4},{133,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,155}}</string>
        <key>sourceSize</key>
        <string>{133,155}</string>
      </dict>
      <key>14.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,4},{143,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,155}}</string>
        <key>sourceSize</key>
        <string>{143,155}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1105,4},{150,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,156}}</string>
        <key>sourceSize</key>
        <string>{150,156}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1263,4},{116,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,157}}</string>
        <key>sourceSize</key>
        <string>{116,157}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,4},{99,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,157}}</string>
        <key>sourceSize</key>
        <string>{99,157}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1494,4},{56,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,158}}</string>
        <key>sourceSize</key>
        <string>{56,158}</string>
      </dict>
      <key>15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1105,4},{150,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,156}}</string>
        <key>sourceSize</key>
        <string>{150,156}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>coin.png</string>
      <key>size</key>
      <string>{1554,166}</string>
      <key>textureFileName</key>
      <string>coin</string>
    </dict>
  </dict>
</plist>
