<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>$.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{35,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,60}}</string>
        <key>sourceSize</key>
        <string>{35,60}</string>
      </dict>
      <key>R.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,4},{39,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,54}}</string>
        <key>sourceSize</key>
        <string>{39,54}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,72},{40,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,52}}</string>
        <key>sourceSize</key>
        <string>{40,52}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,66},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,4},{39,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,52}}</string>
        <key>sourceSize</key>
        <string>{39,52}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,127},{39,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,52}}</string>
        <key>sourceSize</key>
        <string>{39,52}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,132},{38,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,52}}</string>
        <key>sourceSize</key>
        <string>{38,52}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,4},{38,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,52}}</string>
        <key>sourceSize</key>
        <string>{38,52}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,64},{37,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,53}}</string>
        <key>sourceSize</key>
        <string>{37,53}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,125},{36,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,52}}</string>
        <key>sourceSize</key>
        <string>{36,52}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,125},{35,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,52}}</string>
        <key>sourceSize</key>
        <string>{35,52}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,64},{20,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,52}}</string>
        <key>sourceSize</key>
        <string>{20,52}</string>
      </dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,64},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numWheel.png</string>
      <key>size</key>
      <string>{190,188}</string>
      <key>textureFileName</key>
      <string>numWheel</string>
    </dict>
  </dict>
</plist>
