<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,5},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>%.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,5},{27,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,26}}</string>
        <key>sourceSize</key>
        <string>{27,26}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,5},{14,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,26}}</string>
        <key>sourceSize</key>
        <string>{14,26}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,5},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,5},{19,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,26}}</string>
        <key>sourceSize</key>
        <string>{19,26}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,5},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,5},{19,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,26}}</string>
        <key>sourceSize</key>
        <string>{19,26}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,5},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,5},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,5},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,5},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,5},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>num2.png</string>
      <key>size</key>
      <string>{337,37}</string>
      <key>textureFileName</key>
      <string>num2</string>
    </dict>
  </dict>
</plist>
