<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{106,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,126}}</string>
        <key>sourceSize</key>
        <string>{106,126}</string>
      </dict>
      <key>$.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,4},{92,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,144}}</string>
        <key>sourceSize</key>
        <string>{92,144}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,138},{105,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,126}}</string>
        <key>sourceSize</key>
        <string>{105,126}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,156},{103,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,126}}</string>
        <key>sourceSize</key>
        <string>{103,126}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,4},{102,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,126}}</string>
        <key>sourceSize</key>
        <string>{102,126}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,272},{100,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,126}}</string>
        <key>sourceSize</key>
        <string>{100,126}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,290},{100,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,126}}</string>
        <key>sourceSize</key>
        <string>{100,126}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,290},{99,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,126}}</string>
        <key>sourceSize</key>
        <string>{99,126}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,138},{94,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,125}}</string>
        <key>sourceSize</key>
        <string>{94,125}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,4},{93,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,126}}</string>
        <key>sourceSize</key>
        <string>{93,126}</string>
      </dict>
      <key>R.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,271},{93,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,115}}</string>
        <key>sourceSize</key>
        <string>{93,115}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,138},{52,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,125}}</string>
        <key>sourceSize</key>
        <string>{52,125}</string>
      </dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,406},{36,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,42}}</string>
        <key>sourceSize</key>
        <string>{36,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numJackpot.png</string>
      <key>size</key>
      <string>{425,452}</string>
      <key>textureFileName</key>
      <string>numJackpot</string>
    </dict>
  </dict>
</plist>
