<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>R.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{33,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,44}}</string>
        <key>sourceSize</key>
        <string>{33,44}</string>
      </dict>
      <key>$.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,56},{30,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,48}}</string>
        <key>sourceSize</key>
        <string>{30,48}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,112},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,156},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,200},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,244},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,288},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,332},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,376},{28,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,36}}</string>
        <key>sourceSize</key>
        <string>{28,36}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,420},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,464},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,508},{16,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,36}}</string>
        <key>sourceSize</key>
        <string>{16,36}</string>
      </dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,552},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numLr.png</string>
      <key>size</key>
      <string>{41,568}</string>
      <key>textureFileName</key>
      <string>numLr</string>
    </dict>
  </dict>
</plist>
