<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>,.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{32,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,56}}</string>
        <key>sourceSize</key>
        <string>{32,56}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,4},{74,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,124}}</string>
        <key>sourceSize</key>
        <string>{74,124}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,4},{81,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,124}}</string>
        <key>sourceSize</key>
        <string>{81,124}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,4},{74,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,124}}</string>
        <key>sourceSize</key>
        <string>{74,124}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,4},{79,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,124}}</string>
        <key>sourceSize</key>
        <string>{79,124}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,4},{75,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,124}}</string>
        <key>sourceSize</key>
        <string>{75,124}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,4},{52,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,126}}</string>
        <key>sourceSize</key>
        <string>{52,126}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,4},{80,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,126}}</string>
        <key>sourceSize</key>
        <string>{80,126}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,4},{83,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,127}}</string>
        <key>sourceSize</key>
        <string>{83,127}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,4},{77,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,127}}</string>
        <key>sourceSize</key>
        <string>{77,127}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,4},{80,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,127}}</string>
        <key>sourceSize</key>
        <string>{80,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numWin.png</string>
      <key>size</key>
      <string>{875,135}</string>
      <key>textureFileName</key>
      <string>numWin</string>
    </dict>
  </dict>
</plist>
